<!DOCTYPE html>
<html>
<head>
  <!--加入Bootstrap CSS-->
  <%- include('../template/head') %>
</head>
  <!--加入導覽列-->
  <%- include('../template/navbar') %>
  
  <div class="container mx-auto mt-3" style="width: 100%;">
    <!-- 若沒有錯誤會回傳一個空陣列 [] -->
    <% if (errorMessage && errorMessage.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <!--顯示來自後端錯誤訊息-->
        <strong><%= errorMessage %></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
    <form method="POST" action="/user/register">
      <!--輸入帳號Username-->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Username: </label>
        <div class="col-sm-10">
          <input class="form-control" name="username">
        </div>
      </div>
      <!--輸入暱稱Nickname-->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nickname: </label>
        <div class="col-sm-10">
          <input class="form-control" name="nickname">
        </div>
      </div>
      <!--輸入密碼password-->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password: </label>
        <div class="col-sm-10">
          <input class="form-control" name="password" type="password">
        </div>
      </div>
      <button type="submit" class="btn btn-dark mb-2">Submit</button>
    </form>
  </div>
</html>
